<!doctype html>
<!--[if lt IE 7]> <html lang="en-us" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="en-us" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="en-us" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-us" class="no-js"> <!--<![endif]-->
<head>
	<title></title> 
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/assets/css/flat-ui.css" media="screen, projection" />
</head>
<body>

    <div class="container">
		{{ theme:partial src="nav" }}
		{{ layout_content }}
	</div> <!-- /container -->

	<script src="/assets/js/flat-ui.js"></script>

</body>
</html>